#forms_container{
    width:100%;
    height: 100%;
    background-color: var(--color-light-green);
    display: flex;;
    justify-content: center;
    align-items: center;
}

.forms__wrapper{
    width:calc(30% + 2rem );
    background-color: #fff;
    padding:2rem 0;
   
    

}